<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                  <li ng-class="{ active: todoCtrl.activeOption == 'all' }"><a ng-click="todoCtrl.setFilter('all')" href="#/all">all</a></li>
                  <li ng-class="{ active: todoCtrl.activeOption == 'done' }"><a ng-click="todoCtrl.setFilter('done')" href="#/done">done</a></li>
                  <li ng-class="{ active: todoCtrl.activeOption == 'todo' }"><a ng-click="todoCtrl.setFilter('todo')" href="#/todo">todo</a></li>
                </ul>
            </div>
            <ul class="list-group">
                <li ng-repeat="todo in todoCtrl.todos | filter: todoCtrl.filterOptions | orderBy: 'id'" class="list-group-item"
                    ng-class="{'list-group-item-success': todo.completed}">
                    <div class="row">
                        <div class="col-md-1">
                            <input type="checkbox" ng-model="todo.completed"
                                   ng-change="todoCtrl.toggleCompleted(todo)">
                        </div>
                        <div class="col-md-10">
                            <label ng-dblclick="todoCtrl.editTodo(todo)" ng-hide="todo == todoCtrl.editedTodo">
                                {{todo.id}} - {{todo.msg}}
                            </label>
                            <form ng-submit="todoCtrl.saveEdits(todo)">
                                <input class="edit form-control" ng-trim="false" ng-model="todo.msg"
                                       ng-blur="todoCtrl.saveEdits(todo, 'blur')" ng-show="todo == todoCtrl.editedTodo">
                            </form>
                        </div>
                        <div class="col-md-1">

                            <span class="glyphicon glyphicon-remove pull-right" ng-click="todoCtrl.removeTodo(todo)"></span>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</div>